<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Example Form</title>
</head>
<body>

<form method="POST" action="submit.ejs">
    <input type="text" name="nama" placeholder="Masukkan nama">
    <input type="submit" class="btn btn-success">
</form>

</body>
</html>